# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
isolate
*.local

# Environment files
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
node_modules/.tmp/

# Convex generated (auto-created by convex dev)
src/convex/_generated
